{% extends 'base.html.twig' %}

{% block title %}Manabi - Connexion{% endblock %}

{% block body %}

    <img src="{{ asset('images/angle_droit.png') }}" alt="angle droit" class="rightCorner"/>

    <img src="{{ asset('images/angle_gauche.png') }}" alt="angle gauche" class="leftCorner"/>


    <div>
        <div class="logo">
            <img src="{{ asset('images/logo_manabi.png') }}" alt="logo Manabi"/>
        </div>
        <div class="resetPasswordForm">
            <a href="{{ path('app_login') }}" class="backLink"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>

            <form method="post">

                <h1>Mot de passe oublié</h1>
                <div>
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" name="email" id="inputEmail" placeholder="Adresse email" required autofocus>
                </div>

                <button type="submit" class="sendRestPassword">Envoyer un email</button>

            </form>
        </div>
    </div>


    <img src="{{ asset('images/planete.png') }}" alt="planète" class="planet"/>

{% endblock %}
