{% extends 'base.html.twig' %}

{% block title %}Manabi - Connexion{% endblock %}

{% block body %}

    <img src="{{ asset('images/angle_droit.png') }}" alt="angle droit" class="rightCorner"/>

    <img src="{{ asset('images/angle_gauche.png') }}" alt="angle gauche" class="leftCorner"/>


    <div>
        <div class="logo">
            <img src="{{ asset('images/logo_manabi.png') }}" alt="logo Manabi"/>
        </div>
        <div class="loginForm firstForm">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div>
                    <label for="inputEmail" class="sr-only">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <a class="forgottenPassword" href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Rester connecté
                    </label>
                </div>

                <button class="signInButton" type="submit">Se connecter</button>

            </form>

            <a href="{{ path('app_register') }}" class="signUpButton">Pas encore inscrit ?</a>
        </div>
    </div>


    <img src="{{ asset('images/planete.png') }}" alt="planète" class="planet"/>

{% endblock %}
