{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Créer une liste</h1>

    <div class="addListAddWord">
        <a href="{{ path('words_list') }}"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>
        {{ include('words_list/_form.html.twig') }}
        <img class="flag" src="{{ asset('images/flag.png') }}" alt="flag"/>
    </div>

{% endblock %}
