{% extends 'base.html.twig' %}

{% block title %}Mes mots - {{ list.name }}{% endblock %}
{% block script %}
    <script src="https://kit.fontawesome.com/97f34d6c2d.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Mes mots</h1>

    <div class="listsContainer">
        {% set borderColor = '' %}
        {% if list.noteBookColor == 'redNotebook' %}
            {% set borderColor = 'redBorder' %}
        {% elseif list.noteBookColor == 'yellowNotebook' %}
            {% set borderColor = 'yellowBorder' %}
        {% else %}
            {% set borderColor = 'blueBorder' %}
        {% endif %}

        <div class="headerQuiz">
            <a href="{{ path('words_list') }}"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>
            <h1 class="{{ borderColor }}">{{ list.name }}</h1>
        </div>

        {% if words|length == 0 %}

            <div class="noWordNoListDiv">
                <p>Vous n'avez pas encore de mot, ajoutez-en !</p>
                <a href="{{ path('add_words', {'id': list.id}) }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            </div>

        {% else %}
            <div class="wordsTables">
                <table class="tableHeader">
                    <tbody>
                    <tr>
                        <td>Mot</td>
                    </tr>
                    <tr>
                        <td>Traduction</td>
                    </tr>
                    </tbody>
                </table>
                <table class="tableBody">
                    <tbody>
                        <tr>
                            {% set i = 1 %}
                            {% for word in words %}
                                <td class="tdHover{{ i }}">
                                    <a href="{{ path('show_word', {'id': word.id}) }}">
                                        <p>{{ i }}</p>
                                        <p>{{ word.fromWord }}</p>
                                    </a>
                                </td>
                            {% set i = i+1 %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% set i = 1 %}
                            {% for word in words %}
                                <td class="tdHover{{ i }}">
                                    <a href="{{ path('show_word', {'id': word.id}) }}">{{ word.toTranslation }}</a>
                                </td>
                                {% set i = i+1 %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="buttonsGroup">

            {% if words|length != 0 %}
                <a class="addButton" href="{{ path('add_words', {'id': list.id}) }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            {% endif %}

            <div id="editModal" class="modal">
                <h3>Modifier la liste</h3>
                {{ include('words_list/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
            <a class="editButton" href="#editModal" rel="modal:open"><img src="{{ asset('images/pencil-edit-button.png') }}" /></a>

            <!-- Delete modal hidden and showed on click on the form button -->
            <div id="deleteModal" class="modal">
                <h3>Supprimer la liste</h3>
                <p>Êtes-vous sûr(e) de vouloir supprimer la liste <em>{{ list.name }}</em> ?</p>
                <div>
                    <button class="yesDeleteButton">Oui</button>
                    <a href="#close-modal" rel="modal:close" class="noDeleteButton">Non</a>
                </div>
            </div>
            <a class="deleteButtonModal" href="#deleteModal" rel="modal:open"><img src="{{ asset('images/rubbish-bin-delete-button.png') }}" /></a>
            <!-- Fin modale -->

            {{ include('words_list/_delete_form.html.twig') }}
            <button class="paramButton"><img src="{{ asset('images/dots.png') }}" /></button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/responsive.js') }}"></script>
    <script src="{{ asset('js/wordslistButtons.js') }}"></script>
    <script src="{{ asset('js/addListAddWord.js') }}"></script>
    <script src="{{ asset('js/wordLink.js') }}"></script>
{% endblock %}
