{% extends 'base.html.twig' %}

{% block title %}Mes listes - {{ list.name }}{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>{{ list.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <td></td>
            <td>Mot</td>
            <td>Traduction</td>
        </tr>
        {% set i = 1 %}
        {% for word in words %}
            <tr>
                <td>
                    <a href="{{ path('show_word', {'id': word.id}) }}">{{ i }} - </a>
                </td>
                <td>
                    <a href="{{ path('show_word', {'id': word.id}) }}">{{ word.fromWord }} : </a>
                </td>
                <td>
                    <a href="{{ path('show_word', {'id': word.id}) }}">{{ word.toTranslation }}</a>
                </td>
            </tr>
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_words', {'id': list.id}) }}">Ajouter des mots</a>
    <a href="{{ path('edit_list', {'id': list.id}) }}">Modifier</a>
    {{ include('words_list/_delete_form.html.twig') }}
    <a href="{{ path('words_list') }}">Retour</a>
{% endblock %}
