{% extends 'base.html.twig' %}

{% block title %}Mes mots - {{ list.name }}{% endblock %}
{% block script %}
    <script src="https://kit.fontawesome.com/97f34d6c2d.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Mes mots</h1>

    <div class="listsContainer">
        {% set borderColor = '' %}
        {% if list.noteBookColor == 'redNotebook' %}
            {% set borderColor = 'redBorder' %}
        {% elseif list.noteBookColor == 'yellowNotebook' %}
            {% set borderColor = 'yellowBorder' %}
        {% else %}
            {% set borderColor = 'blueBorder' %}
        {% endif %}

        <div class="headerQuiz">
            <a href="{{ path('words_list') }}"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>
            <h1 class="{{ borderColor }}">{{ list.name }}</h1>
        </div>

        {% if words|length == 0 %}

            <div class="noWordNoListDiv">
                <p>Vous n'avez pas encore de mot, ajoutez-en !</p>
                <a href="{{ path('add_words', {'id': list.id}) }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            </div>

        {% else %}
            <table class="table">
                <tbody>
                <tr>
                    <td></td>
                    <td>Mot</td>
                    <td>Traduction</td>
                </tr>
                {% set i = 1 %}
                {% for word in words %}
                    <tr>
                        <td>
                            <a href="{{ path('show_word', {'id': word.id}) }}">{{ i }} - </a>
                        </td>
                        <td>
                            <a href="{{ path('show_word', {'id': word.id}) }}">{{ word.fromWord }} : </a>
                        </td>
                        <td>
                            <a href="{{ path('show_word', {'id': word.id}) }}">{{ word.toTranslation }}</a>
                        </td>
                    </tr>
                    {% set i = i+1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="buttonsGroup">

            {% if words|length != 0 %}
                <a class="addButton" href="{{ path('add_words', {'id': list.id}) }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            {% endif %}

            <div id="editModal" class="modal">
                {{ include('words_list/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
            <a class="editButton" href="#editModal" rel="modal:open"><img src="{{ asset('images/pencil-edit-button.png') }}" /></a>

            {{ include('words_list/_delete_form.html.twig') }}
            <button class="paramButton"><img src="{{ asset('images/dots.png') }}" /></button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/wordslistButtons.js') }}"></script>
{% endblock %}
