{% extends "base.html.twig" %}

{% block body %}
    {{ include('default/_navbar.html.twig') }}

    <h1>Mes listes de mots</h1>

    <div class="listsContainer">
        {% if listNumber == 0 %}
            <div class="noWordNoListDiv">
                <p>Vous n'avez pas encore de liste, ajoutez-en !</p>
                <a href="{{ path('new_list') }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            </div>

        {% else %}
            <ul>
                {% for list in lists %}
                    <li>
                        <a href="{{ path('show_list', {'id': list.id}) }}">
                            {% if list.noteBookColor == 'redNotebook' %}
                                <img src="{{ asset('images/notebook_red.png') }}"/>
                            {% elseif list.noteBookColor == 'yellowNotebook' %}
                                <img src="{{ asset('images/notebook_yellow.png') }}"/>
                            {% else %}
                                <img src="{{ asset('images/notebook_blue.png') }}"/>
                            {% endif %}

                            <span>{{ list.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <a class="addButtonCorner" href="{{ path('new_list') }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
        {% endif %}
    </div>

{% endblock %}