{% extends 'base.html.twig' %}

{% block title %}Nouveau mot{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Nouveau mot</h1>

    <div class="addListAddWord">
        <a href="{{ path('show_list', {'id': list.id}) }}"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>
        {{ include('word/_form.html.twig') }}
        <img class="flag" src="{{ asset('images/flag.png') }}" alt="flag"/>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/addListAddWord.js') }}"></script>
{% endblock %}