{% extends 'base.html.twig' %}

{% block title %}Mon mot - {{ word.fromWord }}{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Voir un mot</h1>

    <div>
        <p>Mot :</p>
        <p>{{ word.fromWord }}</p>
    </div>
    <div>
        <p>Traduction :</p>
        <p>{{ word.toTranslation }}</p>
    </div>
    <div>
        <p>Commentaire :</p>
        <p>{{ word.description }}</p>
    </div>

    <a href="{{ path('edit_word', {'id': word.id}) }}">Modifier</a>
    {{ include('word/_delete_form.html.twig') }}
    <a href="{{ path('show_list', {'id': word.wordsList.id}) }}">Retour</a>
{% endblock %}
