<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('words_list') }}">Voir mes listes</a></li>
        <li><a href="{{ path('quiz_wordslist') }}">Lancer un quiz</a></li>
        <li><a href="{{ path('show_profile') }}">Profil</a></li>
        <li><a href="">Contacter Manabi</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
</nav>