{% extends "base.html.twig" %}

{% block title %}Manabi - Quiz{% endblock %}
{% block script %}
    <script src="https://kit.fontawesome.com/97f34d6c2d.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}

{% block body %}
    {{ include('default/_navbar.html.twig') }}

    <h1>{{ list.name }}</h1>

    <div class="quiz">
        {% for word in words %}
            {% set questionType = '' %}
            <div class="question">
                <p>Question {{ loop.index }} / {{ words|length }}</p>
                <p>
                    {% set randomQuestion = random(questions) %}
                    {{ randomQuestion }}
                    {% if randomQuestion == 'Que signifie ' %}
                        {% set questionType = word.toTranslation %}
                        {{ word.fromWord }} ?
                    {% else %}
                        {% set questionType = word.fromWord %}
                        {{ word.toTranslation }} ?
                    {% endif %}
                </p>
                <label for="question{{ loop.index }}">Réponse</label>
                <input type="text" id="question{{ loop.index }}" data-answer="{{ questionType }}"/>
                <p class="answer"></p>
                <p class="answerSentence"></p>

            {% if loop.index != words|length %}
                <button class="validateQuestionButton">Valider</button>
            {% else %}
                <button class="validateQuestionEnd">Valider</button>
                <button class="goToScore">Terminer</button>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="finalScore">
        <p class="score" data-words-length="{{ words|length }}"><b></b> / {{ words|length }}</p>
        <p class="congrats"></p>
        <form action="{{ path('start_quiz') }}" method="post">
            <input type="hidden" name="_quizList" class="hiddenInput" value="{{ list.id }}"/>
            <input type="submit" class="restart" value="Recommencer"/>
        </form>
        <a class="exit" href="{{ path('homepage') }}">Quitter</a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/quiz.js') }}"></script>
{% endblock %}
