{% extends "base.html.twig" %}

{% block title %}Manabi - Quiz{% endblock %}

{% block body %}
    {{ include('default/_navbar.html.twig') }}

    <h1>{{ list.name }}</h1>


    {% for word in words %}
        <div class="question">
            <label for="question{{ loop.index }}">
                {% set randomQuestion = random(questions) %}
                {{ randomQuestion }}
                {% if randomQuestion == 'Que signifie ' %}
                    {{ word.fromWord }} ?
                {% else %}
                    {{ word.toTranslation }} ?
                {% endif %}
            </label>
            <input type="text" id="question{{ loop.index }}"/>
            <button class="validateQuestionButton">Valider</button>
            <p class="answer">
                <b>
                    {% if randomQuestion == 'Que signifie ' %}
                        {{ word.toTranslation }}
                    {% else %}
                        {{ word.fromWord }}
                    {% endif %}
                </b>
            </p>

        </div>
    {% endfor %}

    {% block javascripts %}
        <script src="{{ asset('js/quiz.js') }}"></script>
    {% endblock %}

{% endblock %}