{% extends "base.html.twig" %}

{% block title %}Lancer un quiz{% endblock %}

{% block body %}
    {{ include('default/_navbar.html.twig') }}

    <h1>Choisir une liste</h1>

    <div class="listsContainer">
        {% if listNumber == 0 %}
            <div class="noWordNoListDiv">
                <p>Vous n'avez pas encore de liste, ajoutez-en !</p>
                <a href="{{ path('new_list') }}"><img src="{{ asset('images/plus-symbol.png') }}" /></a>
            </div>

        {% else %}
            <form action="{{ path('start_quiz') }}" method="post">
                <ul>
                    {% for list in lists %}
                        <li>
                            <input class="{{ list.noteBookColor }}" type="checkbox" id="_quizList{{ loop.index }}" name="_quizList" value="{{ list.id }}">
                            <label for="_quizList{{ loop.index }}"></label>
                            <p class="listLabel">{{ list.name }}</p>
                        </li>
                    {% endfor %}
                </ul>

                <button type="submit" class="startQuiz">Commencer</button>
            </form>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/responsive.js') }}"></script>
    <script src="{{ asset('js/checkbox.js') }}"></script>
{% endblock %}