{% extends 'base.html.twig' %}

{% block title %}Contactez Manabi{% endblock title %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <div class="contactContainer">
        <div>
            <h1>Contactez-nous...</h1>
            <img src="{{ asset('images/fleche_contact.png') }}" alt="flèche contact Manabi"/>
        </div>
        <div>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}