{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Modifier mon profil</h1>
    <div class="profileContainer">
        <a href="{{ path('show_profile') }}"><img src="{{ asset('images/back.png') }}" alt="retour"/>Retour</a>

        <div>
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <img class="endQuizShapeLeft" src="{{ asset('images/forme_bas-fin_quiz.png') }}" alt="forme"/>
        <img class="endQuizShapeRight" src="{{ asset('images/forme_haut-fin_quiz.png') }}" alt="forme"/>
    </div>
{% endblock %}